@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

#main {
    width: 100%;
    height: 100%;
}

body {
    color: black;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/*** slogan ***/
.slogan {

    &--who-we-are {
        color: white;
        font-size: 4em;
        font-weight: 300;
        text-align: center;
    }
}

/*** sections ***/
.section {
    &__header {
        color: #F5A623;
        font-size: 4em;
        font-weight: 300;
        text-align: center;

        &--who-we-are {
            margin-top: 3em;
        }
        &--what-we-do {
            
        }
    }
}
