@import "./reset.css";
@import "./font.css";

#main {
    width: 100%;
    height: 100%;
}

body {
    color: black;
    max-width: 1920px;
    min-width: 320px;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    background: white;
    margin: 0 auto;
}

a {
  &:link,
  &:visited,
  &:active {
    color: inherit;
  }

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.font-bold {
  font-weight: 700
}

/*** slogan ***/
.slogan {

    &--who-we-are {
        color: white;
        font-size: 4em;
        font-weight: 300;
        text-align: center;
        padding: 0 1%;

        @media only screen and (max-width: 1140px) {
          & {
            padding: 0 10%;
          }
        }

        @media only screen and (max-width: 850px) {
          & {
            padding: 0 1%;
          }
        }

        @media only screen and (max-width: 700px) {
          & {
            font-size: 3.5em;
          }
        }
        @media only screen and (max-width: 600px) {
          & {
            padding: 0 10%;
          }
        }
        @media only screen and (max-width: 600px) {
          & {
            font-size: 3em;
          }
        }
        @media only screen and (max-width: 400px) {
          & {
            font-size: 2.5em;
            padding: 0;
          }
        }
    }
}

/*** sections ***/
.section {

    &__header {
        font-size: 4em;
        font-weight: 300;
        text-align: center;

        @media only screen and (max-width: 700px) {
          & {
            font-size: 3.5em;
          }
        }
        @media only screen and (max-width: 500px) {
          & {
            font-size: 3em;
          }
        }
        @media only screen and (max-width: 400px) {
          & {
            font-size: 2.5em;
          }
        }


        &--who-we-are {
            color: #F5A623;
            margin-top: 3em;

            @media only screen and (max-width: 400px) {
              & {
                margin-top: 4em;
              }
            }
        }
        &--what-we-do {
          color: #F5A623;
        }
        &--portfolio {
          position: relative;
          z-index: 30;
          color: #000;
          font-weight: 400;
          margin-top: 4%;


          @media only screen and (min-width: 1600px) {
            & {
              margin-top: 6%;
            }
          }
          @media only screen and (max-width: 1000px) {
            & {
              margin-top: 7%;
            }
          }
          @media only screen and (max-width: 400px) {
            & {
              margin-top: 15%;
            }
          }
        }
        &--footer {
          color: #fff;
          padding-top: .27em;
        }
    }
}

/*** nav-icon ***/
.nav-icon {

  &-mobile {
    display: none;
    position: absolute !important;
    z-index: 40;
    top: 3.5em;
    right: 8%;
    width: 35px;
    height: 26px;
    position: relative;
    cursor: pointer;
    transform: rotate(0deg);

    span {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      opacity: 1;
      transform: rotate(0deg);
      background: white;
      transition: .3s all;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 12px;
      }
      &:nth-child(4) {
        top: 24px;
      }
    }

    &--open {
      span {
        background: black;

        &:nth-child(1) {
          width: 0;
          top: 12px;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          width: 0;
          top: 12px;
          left: 50%;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    & {
      display: block;
    }
  }
}

/*** technologies ***/
.technologies {
  width: 100%;

  &__item {
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: top;

    &-icon {
      display: inline-block;
      height: 40px;

      img {
        width: auto;
        height: 170%;
      }
    }
    &-name {
      font-size: 1.5em;
      margin-top: .3em;
    }
  }

  &--what-we-do {
    margin: 3.4em 0 2em 0;

    .technologies__item {
      margin-bottom: 4em;
    }

    @media only screen and (min-width: 1800px) {
      & {
        .technologies__item {

          &-icon {
            img {
              height: 220%;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 900px) {
      & {
        text-align: center;

        .technologies__item {
          width: 25%;

          &-name {
            max-width: 150px;
            margin: 0 auto;
          }
        }
      }
    }
    @media only screen and (max-width: 700px) {
      & {

        .technologies__item {
          width: 33.33333%;
        }
      }
    }
    @media only screen and (max-width: 500px) {
      & {

        .technologies__item {
          width: 50%;

          &-icon {
            img {
              width: auto;
              height: 200%;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 400px) {
      & {

        .technologies__item {

          &-icon {
            img {
              width: auto;
              height: 160%;
            }
          }
        }
      }
    }
  }

  &--project {
    position: absolute;
    top: 100%;
    right: 0;
    width: 80%;
    margin-top: 7em;

    .technologies__item {
      float: right;
      width: 17%;

      &:nth-child(2) {
        margin-top: 7em;
      }
      &:nth-child(3) {
        margin-top: 14em;
      }
      &:nth-child(4) {
        margin-top: 21em;
      }
      &:nth-child(5) {
        margin-top: 28em;
      }
      &:nth-child(6) {
        margin: -17em 5% 0 0;
      }
      &:nth-child(7) {
        margin: -11em 21% 0 0;
      }
      &:nth-child(8) {
        margin: -4.5em 38% 0 0;
      }
      &:nth-child(9) {
        margin: 2em 0% 0 0;
      }
    }

    @media only screen and (max-width: 1370px) {
      & {
          top: 140%;
          width: 100%;
          text-align: center;

        .technologies__item {
          float: none;
          width: 120px;
          display: inline-block;
          margin: 1.5em 4% !important;
        }
      }
    }
  }
}

/*** send-project-btn ***/
.action-btn {
  display: block;

  &--portfolio {

    &-send,
    &-more {
      font-size: 2.8em;
      font-weight: 400;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }

      @media only screen and (min-width: 1800px) {
        & {
          font-size: 3.5em;
        }
      }
      @media only screen and (max-width: 1150px) {
        & {
          font-size: 2.2em;
        }
      }
      @media only screen and (max-width: 1000px) {
        & {
          font-size: 2em;
        }
      }
      @media only screen and (max-width: 800px) {
        & {
          font-size: 1.5em;
        }
      }
      @media only screen and (max-width: 600px) {
        & {
          text-decoration: underline;
        }
      }
    }
    &-send {
      display: inline-block;
      position: relative;
      z-index: 30;
      color: #fff;
      margin: 13% 0 14% 0;

      @media only screen and (max-width: 600px) {
        & {
          text-decoration: underline;
          margin: -10% 0 35% 0;
        }
      }
    }
    &-more {
      position: absolute;
      z-index: 40;
      top: 45%;
      left: 50%;
      display: block;
      cursor: pointer;
      width: 150px;
      margin: 0 0 0 -75px;

      @media only screen and (max-width: 600px) {
        & {
          width: 100%;
          top: 0;
          left: 0;
          text-align: center;
          padding: 1em 0 0 0;
          margin: 0;
        }
      }
    }
  }
}

/*** gallery ***/
.gallery {

  &--portfolio {
    position: relative;
    z-index: 40;
    margin-top: 1.2em;
    transition: .5s all;

    .gallery__hexagon {
      position: relative;
      width: 32.5%;
      margin-left: 1.24%;

      image {
        display: inline-block;
        width: 190%;
        height: 110%;
        x: -40%;
        y: -5%;
        margin-left: -10%;
      }
    }

    .gallery__row {
      text-align: left;

      &:nth-child(1n) {

        span:first-child  {
          .gallery__hexagon {
            margin-left: 0;
          }
        }
      }

      &:nth-child(1n+2) {
        margin: -8.3% auto 0 auto;
      }

      &:nth-child(2n) {
        width: 66.2%;

        .gallery__hexagon {
          width: 49.1%;
        }
      }
    }
  }
}



/*** navigation ***/
.navigation {

  li {
    list-style-type: none;
  }

  &--header {
    text-align: center;
    margin-top: .8em;

    li {
      display: inline-block;
      vertical-align: top;

      &:not(.navigation__logo) {
        margin: 1.5em 1.5% 0 1.5%;
      }

      &.navigation__logo {
        width: 110px;
        margin: 0 8% 0 -3%;
      }

      a[class*='navigation__'] {
        display: block;
        color: #fff;
        font-size: 1.25em;
        font-weight: 300;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
          color: #F5A623;
          text-decoration: none;
        }

        &:before {
          content: '';
          display: block;
          width: 47px;
          height: 47px;
          margin: 0 auto .4em auto;
          background: url('../img/navigation-icons-spryte.svg') no-repeat;
        }

        &.navigation__who-we-are {
          &:before {
            background-position: 5px 0;
          }
          &:hover {
            &:before {
              background-position: 5px -54px;
            }
          }
        }
        &.navigation__technologies {
          &:before {
            background-position: -55px 0;
          }
          &:hover {
            &:before {
              background-position: -55px -54px;
            }
          }
        }
        &.navigation__portfolio {
          &:before {
            width: 50px;
            background-position: -113px 0;
          }
          &:hover {
            &:before {
              background-position: -113px -54px;
            }
          }
        }
        &.navigation__contacts {
          &:before {
            width: 50px;
            background-position: -170px 0;
          }
          &:hover {
            &:before {
              background-position: -170px -54px;
            }
          }
        }
        &.navigation__email {
          &:before {
            width: 52px;
            background-position: -227px -54px;
          }
          &:hover {
            &:before {
              background-position: -227px 0;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 800px) {
      & {
        width: 40%;
        min-width: 260px;
        position: absolute;
        z-index: 35;
        top: -2px;
        right: -100%;
        padding: 5em 3em 5em 3em;
        margin: 0 0 0 0;
        box-shadow:
          rgba(0, 0, 0, 0.2) 0px 5px 4px,
          rgba(0, 0, 0, 0.2) 0px 5px 4px;
        background: white;
        transition: .3s;

        li {
          display: block;

          a {
            color: black !important;

            &:before {
              display: none !important;
            }
          }

          &.navigation__logo {
            display: none;

          }
        }

        &.navigation--open {
          right: 0;
        }
      }
    }
  }

  &--footer {
    float: left;
    font-size: 1.5em;
    margin-left: 5.5%;

    li {
      margin-top: .95em;

      &:first-child {
        margin: 0;
      }

      a {
        text-transform: capitalize;
      }
    }

    @media only screen and (max-width: 600px) {
      & {
        float: none;
        width: 60%;
        text-align: center;
        margin: 1.5em auto 0 auto;

        li {
          display: inline-block;
          margin: .15em 4% !important;
        }
      }
    }
  }
}

/*** logo ***/
.logo {

  &--header {
    position: absolute;
    z-index: 30;
    left: 50%;
    display: block;
    width: 110px;
    height: 122px;
    font-size: 0.75em;
    line-height: 187px;
    text-align: center;
    margin-left: -61px;
    background: url('../img/logo.svg') no-repeat;


    &:hover {
      text-decoration: none;
    }
  }

  &--header-mobile {
    top: .6em;
  }
}

/*** contacts ***/
.contacts {

  &--footer {
    float: left;
    font-size: 1.5em;
    margin-bottom: 1.5em;

    .contacts__location,
    .contacts__connection {
      min-width: 360px;

      &:before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-right: 22px;
        background: url('../img/contacts-icons-spryte.svg') no-repeat;
      }
    }

    .contacts__location {
      vertical-align: middle;
    }
    .contacts__connection {
      line-height: 1.3em;
      margin-top: 1.6em;

      &:before {
        float: left;
        clear: both;
        padding-bottom: 2em;
        margin: .38em 19px 0 3px;
        background-position: -55px 0;
      }
    }

    @media only screen and (max-width: 600px) {
      & {
        float: none;
        text-align: center;
        margin: 0 auto;

        .contacts__connection {
            margin-top: .8em;

            &:before {
              display: none;
            }
        }

        .contacts__location,
        .contacts__connection {
          min-width: 300px;
        }
      }
    }
  }
}

/*** contact-form ***/
.contact-form {
  input,
  textarea {
    box-sizing: border-box;
  }

  &--footer {
    float: right;
    width: 50%;
    min-width: 300px;
    margin-left: 1.5em;

    .contact-form__input {
      position: relative;
      height: 53px;
      margin-bottom: .625em;

      &::after {
        content: "";
        display: table;
        clear: both;
      }

      label {
        position: absolute;
        top: 14px;
        left: 10px;
        color: #504E4E;
        font-size: 1.125em;
        font-weight: 300;
        transition: .3s;
      }

      input,
      textarea,
      select {
        width: 100%;
        font-size: 1.125em;
        background: #ECEBEB;
      }
      input {
        height: 100%;
        padding: 10px 10px 0 10px;

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #ECEBEB inset;
        }
      }
      textarea {
        resize: none;
        height: 185px;
        padding: 10px;
      }

      &--name,
      &--email, {
        display: inline-block;
        width: 49%;
      }
      &--email {
        margin-left: 2%;
      }
      &--message {
        height: auto;
        padding-top: 12px;
        background: #ECEBEB;
      }
      &--focused {
        label {
          color: #9B9B9B;
          top: 5px;
          font-size: 75%;
        }
      }

      &--disabled {
        input {
          background: #D8D8D8;
        }
      }
    }

    .contact-form__submit-btn {
      color: #F5A623;
      display: block;
      width: 200px;
      height: 45px;
      font-size: 1.5em;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      background: #fff;
      margin: 0 auto;

      &:hover {
        background: #D8D8D8;
      }
    }


    @media only screen and (max-width: 850px) {
      & {
        float: none;
        width: 80%;
        margin: 0 auto 4em auto;
      }
    }
  }
}

/*** platforms ***/
.platforms {
  position: relative;
  z-index: 30;
  margin-top: 1em;

  &__item {
    display: inline-block;
    width: 107px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    margin: 0 1.3em;

    &:before {
      content: '';
      display: inline-block;;
      width: 43px;
      height: 45px;
      vertical-align: middle;
      background: url('../img/filter-icons-spryte.svg') no-repeat;
    }

    &--desktop {
      &:hover,
      &-active {
        &:before {
          background-position: -62px 0;
        }
      }
    }
    &--web {
      &:before {
        width: 54px;
        background-position: -122px 0;
      }
      &:hover,
      &-active {
        &:before {
          background-position: -187px 0;
        }
      }
    }
    &--mobile {
      &:before {
        width: 32px;
        height: 47px;
        background-position: -262px 0;
      }
      &:hover,
      &-active {
        &:before {
          background-position: -301px 0;
        }
      }
    }
  }

  &--portfolio {

    .platforms__item {
      background: url('../img/filter-hexagon.png') no-repeat;
      background-size: 100%;
    }

    @media only screen and (max-width: 850px) {
      .platforms__item {
        width: 70px;
        height: 77px;

        &:before {
          width: 45px;
          height: 57px;
          vertical-align: top;
          background-size: 630% 140%;
        }

        &--mobile {
          &:before {
            width: 30px;
            background-position: -175px 0;
            background-size: 750% 140%;
          }
          &-active,
          &:hover {
            &:before {
              background-position: -201px 0;
            }
          }
        }
        &--web {
          &:before {
            background-position: -90px 0;
            background-size: 550% 140%;
          }
          &-active,
          &:hover {
            &:before {
              background-position: -139px 0;
            }
          }
        }
        &--desktop {
          &:before {
            background-position: 6px 0;
            background-size: 550% 140%;
          }
          &-active,
          &:hover {
            &:before {
              background-position: -40px 0;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 500px) {
      .platforms__item {
        margin: 0 1.5%;
      }
    }
  }

  &--project {
    position: relative;
    width: 100%;
    top: -17em;
    text-align: center;

    .platforms__item {
      &:hover {
        pointer-events:none;
      }
    }

    @media only screen and (max-width: 1200px) {
      & {
        top: -16em;
      }
    }
  }
}
