.who-we-are {
    position: relative;
    width: 100%;
    overflow: hidden;

    &__video {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/who-we-are__video-start-slide.jpg') no-repeat bottom center;
        background-size: cover;
    }

    &__body {
        padding-top: 19em;
        overflow: hidden;

        @media only screen and (max-width: 700px) {
          & {
            padding-top: 16em;
          }
        }
        @media only screen and (max-width: 600px) {
          & {
            padding-top: 13em;
          }
        }
    }

    &__description {
        margin-top: 4.5em;

        p {
            width: 85%;
            max-width: 1225px;
            font-size: 1.5em;
            font-weight: 300;
            line-height: 1.4em;
            text-align: center;
            margin: 2em auto;

            &:first-child {
                max-width: 895px;
                margin: 0 auto;

                @media only screen and (min-width: 1001px) {
                  & {
                    width: 62%;
                  }
                }
            }
        }

        @media only screen and (max-width: 500px) {
          & {
            margin-top: 2.5em;
          }
        }
    }

    &__hexagon {
        position: absolute;
        z-index: -1;
        top: 27em;
        left: -2.5%;
        width: 105%;

        @media only screen and (max-width: 1140px) {
          & {
            top: 30em;
          }
        }
        @media only screen and (max-width: 800px) {
          & {
            width: 1200px;
            left: 50%;
            margin-left: -600px;
          }
        }
        @media only screen and (max-width: 800px) {
          & {
            top: 25em;
          }
        }
    }
}
